@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="bg-danger bg-opacity-10">Welcome to the Bloggie App</h1>
    <p>This app is created using asp.net Core && bootstrap classes</p>
</div>
